n8n/workflows/reelitin_combo_v4.json
{
  "updatedAt": "2026-01-18T22:27:11.232Z",
  "createdAt": "2025-12-02T22:51:47.965Z",
  "id": "kSNTYY38bb81g5Z8",
  "name": "reelitin_combo_v4",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "formTitle": "reelitin",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Product URL"
            },
            {
              "fieldLabel": "Product Name",
              "placeholder": "Name of the product...",
              "requiredField": true
            },
            {
              "fieldLabel": "Product Images",
              "fieldType": "file",
              "acceptFileTypes": ".jpg,.jpeg,.png,.webp,.heic,.heif",
              "requiredField": true
            },
            {
              "fieldLabel": "Preset",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "The Authentic Testimonial (Trust-Builder)"
                  },
                  {
                    "option": "The Problem/Solution (High-CTR)"
                  },
                  {
                    "option": "The Aesthetic Showcase (Desire-Creation)"
                  },
                  {
                    "option": "The \"Day in the Life\" Vlog (Lifestyle Integration)"
                  },
                  {
                    "option": "The Rapid-Fire Listicle (Education)"
                  },
                  {
                    "option": "The Unboxing Experience (Anticipation)"
                  },
                  {
                    "option": "The \"Us vs. Them\" Comparison (Differentiation)"
                  },
                  {
                    "option": "The Pattern Interrupt (The Wildcard)"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Target Platform",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Facebook"
                  },
                  {
                    "option": "Instagram"
                  },
                  {
                    "option": "TikTok"
                  },
                  {
                    "option": "Youtube"
                  },
                  {
                    "option": "Other"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Duration",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "10s"
                  },
                  {
                    "option": "15s"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Target Region",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Global"
                  },
                  {
                    "option": "North America"
                  },
                  {
                    "option": "Latin America"
                  },
                  {
                    "option": "Europe"
                  },
                  {
                    "option": "Middle East"
                  },
                  {
                    "option": "Africa"
                  },
                  {
                    "option": "South Asia"
                  },
                  {
                    "option": "East & Southeast Asia"
                  },
                  {
                    "option": "Oceania"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Language"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        592,
        -672
      ],
      "id": "af92ba21-7708-493d-832a-b6bac57f054e",
      "name": "form_trigger",
      "webhookId": "4271b3b5-0f3e-4eb2-bfbe-3d0e0ac98ffa"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sora-2-image-to-video\",\n  \"input\": {\n    \"prompt\": {{ JSON.stringify($('img_prompt_length?').item.json.vidgen_prompt) }},\n    \"image_urls\": [ {{ JSON.stringify($json.url) }} ],\n    \"aspect_ratio\": \"portrait\",\n    \"n_frames\": \"{{ $('img_prompt_length?').item.json.config.effective_config.duration_seconds }}\",\n    \"remove_watermark\": false\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5520,
        -672
      ],
      "id": "e012a916-f0b7-4d66-bb40-535ad8fc0c23",
      "name": "Create Sora Ad",
      "credentials": {
        "httpHeaderAuth": {
          "id": "JOMTRw8Hk22l5E88",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rawText = $input.item.json.candidates[0].content.parts[0].text || \"\";\n\nfunction parseJSONBlock(rawString) {\n  if (!rawString) return {};\n  try {\n    const firstBrace = rawString.indexOf('{');\n    const lastBrace = rawString.lastIndexOf('}');\n    if (firstBrace !== -1 && lastBrace !== -1 && lastBrace > firstBrace) {\n      const jsonCandidate = rawString.substring(firstBrace, lastBrace + 1);\n      return JSON.parse(jsonCandidate);\n    }\n    return JSON.parse(rawString.replace(/```json/g, '').replace(/```/g, ''));\n  } catch (e) {\n    return { error: \"JSON_PARSE_FAILED\" };\n  }\n}\n\nconst mainObj = parseJSONBlock(rawText);\n\nreturn {\n  json: {\n    config: mainObj.config || {},\n    market_research: mainObj.market_research || {},\n    persona: mainObj.persona || {},\n    product_profile: mainObj.product_profile || {},\n    creative_blueprint: mainObj.creative_blueprint || {},\n    performance_forecast: mainObj.performance_forecast || {},\n    strategy: mainObj.strategy || {}\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2384,
        -608
      ],
      "id": "ee770a84-a5b8-4a36-a387-9bcb399d179f",
      "name": "Parser"
    },
    {
      "parameters": {
        "url": "={{ JSON.parse($json.body.data.resultJson).resultUrls[0] }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-cloudinary.cloudinary",
      "typeVersion": 1,
      "position": [
        4624,
        -672
      ],
      "id": "c9b07aae-055b-49ea-b910-0c163928a6b5",
      "name": "Upload start frame",
      "credentials": {
        "cloudinaryApi": {
          "id": "V8DVtY71cU7eraO1",
          "name": "Cloudinary account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  (() => {\n    // 1. Get the image list from the \"Aggregate\" node (which has the Cloudinary URLs)\n    // MAKE SURE this node name matches exactly what is on your canvas\n    const imageList = $('aggregate_images_urls_and_format_inputs').first().json.images || [];\n\n    // 2. Map them to just the Public URLs\n    // We filter(Boolean) to remove any empty entries just in case\n    const imageUrls = imageList.map(img => img.public_url).filter(Boolean);\n\n    // 3. Return the JSON string\n    return JSON.stringify({\n      \"model\": \"nano-banana-pro\",\n      \"callBackUrl\": $execution.resumeUrl,\n      \"input\": {\n        // Pull the prompt from the Parser node\n        \"prompt\": $('Parser').item.json.start_frame_image_prompt,\n        \n        \"aspect_ratio\": \"9:16\",\n        \"resolution\": \"1K\",\n        \"output_format\": \"png\",\n        \n        // 4. Send the array of URLs (e.g. [\"https://res.cloudinary...\", ...])\n        \"image_input\": imageUrls \n      }\n    });\n  })()\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4176,
        -672
      ],
      "id": "d72bf4d4-985e-499c-b972-6ad0828e91db",
      "name": "generate_start_frame",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "JOMTRw8Hk22l5E88",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "uploadFile",
        "additionalFieldsFile": {}
      },
      "type": "n8n-nodes-cloudinary.cloudinary",
      "typeVersion": 1,
      "position": [
        1040,
        -672
      ],
      "id": "49fadf4a-1363-42dc-90d3-0fb38fe2e4a2",
      "name": "upload_product_images",
      "credentials": {
        "cloudinaryApi": {
          "id": "V8DVtY71cU7eraO1",
          "name": "Cloudinary account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const newItems = [];\n\n// 1. Get the single input item from the form\nconst item = $input.item;\n\n// 2. Check if binary data exists\nif (item.binary) {\n  // 3. Loop through every uploaded file (data, data_1, data_2)\n  for (const key of Object.keys(item.binary)) {\n    const binaryFile = item.binary[key];\n\n    // 4. Create a separate item for each file\n    // We keep the original JSON fields (Product Name, etc) on every item\n    newItems.push({\n      json: {\n        ...item.json,\n        originalBinaryKey: key // tracking ID\n      },\n      binary: {\n        data: binaryFile // Standardize the binary key to just 'data' for the upload node\n      }\n    });\n  }\n}\n\nreturn newItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        -672
      ],
      "id": "267bed95-45b7-4394-bd85-70d6b01a11a5",
      "name": "split_product_images"
    },
    {
      "parameters": {
        "jsCode": "// 1. Get the raw Master Prompt string\n// We try multiple sources to be safe\nconst sourceJson = $('set_strategist_prompt').first().json;\nconst rawPromptString = sourceJson.text || sourceJson.prompt || sourceJson.promptText || sourceJson.sora_video_prompt;\n\n// 2. Define the 'parts' array\nconst parts = [];\n\n// 3. Add the Text Part\nif (rawPromptString) {\n  parts.push({\n    \"text\": rawPromptString\n  });\n} else {\n  parts.push({\n    \"text\": \"Error: Prompt text not found. Please check 'set_master_prompt' output.\"\n  });\n}\n\n// 4. Get the Images (THE FIX)\n// Instead of looking at the JSON 'filesystem-v2' pointer, we look for the actual Binary attachments on the input items.\n\n// Check if the input items have binary data\nif (items[0].binary) {\n  const binaryKeys = Object.keys(items[0].binary);\n  \n  for (const key of binaryKeys) {\n    const binaryObj = items[0].binary[key];\n    \n    // Safety check: ensure it is actually an image\n    if (binaryObj.mimeType && binaryObj.mimeType.startsWith('image/')) {\n      \n      // CRITICAL STEP: Read the file from disk to memory\n      const buffer = await this.helpers.getBinaryDataBuffer(0, key);\n      \n      parts.push({\n        inline_data: {\n          mime_type: binaryObj.mimeType,\n          data: buffer.toString('base64') // Convert to the Base64 string Gemini needs\n        }\n      });\n    }\n  }\n}\n\n// 5. Fallback (If no binaries found on input)\n// If parts only has text, we log a warning.\nif (parts.length === 1) {\n    console.log(\"WARNING: No binary images found in input. Check if 'set_master_prompt' is stripping binaries.\");\n}\n\n// 6. Return the FULL API BODY structure\nreturn {\n  json: {\n    contents: [\n      {\n        parts: parts\n      }\n    ]\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1936,
        -608
      ],
      "id": "fedbdfee-8454-4c7e-9880-6651e7f9d946",
      "name": "multimodal_prompt_assembler"
    },
    {
      "parameters": {
        "jsCode": "const processedImages = [];\n\n// 1. Get the URLs from the current input (Cloudinary output)\nconst cloudinaryItems = $input.all();\n\n// 2. Get the Base64 data from the earlier 'Split files' node\n// We have to reach back because Cloudinary stripped the binary data\nconst splitItems = $('split_product_images').all();\n\n// 3. Loop through the items and merge them\nfor (let i = 0; i < cloudinaryItems.length; i++) {\n  const cloudItem = cloudinaryItems[i];\n  // We grab the corresponding item from the split node using the same index\n  const splitItem = splitItems[i]; \n\n  if (splitItem && splitItem.binary && splitItem.binary.data) {\n    // Extract URL (from Cloudinary)\n    const publicUrl = cloudItem.json.secure_url;\n\n    // Extract Base64 (from Split node)\n    const binaryData = splitItem.binary.data;\n    \n    processedImages.push({\n      // For Gemini (Base64)\n      inline_data: {\n        mime_type: binaryData.mimeType,\n        data: binaryData.data\n      },\n      // For Sora/Nano (URL)\n      public_url: publicUrl,\n      // Metadata\n      fileName: binaryData.fileName\n    });\n  }\n}\n\n// 4. Return the combined result\n// We grab the original form data from the first split item\nconst originalData = splitItems.length > 0 ? splitItems[0].json : {};\n\nreturn {\n  json: {\n    ...originalData, // Keeps Product Name, Duration, etc.\n    images: processedImages\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1264,
        -672
      ],
      "id": "721a1eaf-f731-4005-be0b-3b2a2b33421a",
      "name": "aggregate_images_urls_and_format_inputs"
    },
    {
      "parameters": {
        "resume": "webhook",
        "httpMethod": "POST",
        "options": {}
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4400,
        -672
      ],
      "id": "16d0e395-5323-46c0-b805-b984f81e9a64",
      "name": "Wait",
      "webhookId": "38470a42-7744-4caf-84ae-e5d73d6c4452"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2c2bbb98-c6e4-4339-971a-2d6487f6bd29",
              "name": "prompt",
              "value": "=You are a world-class Consumer Psychologist, Market Researcher, and E-commerce Growth Strategist.\n\nYour mission is to:\n\nAnalyze the product and find real-world viral benchmarks for this product category and region.\n\nGenerate a data-informed performance and strategy snapshot that is directional, not fantasy.\n\nAll reasoning must:\n\nStay grounded in the product images, product URL, and visible or generic category knowledge.\n\nAvoid invented product features, fake performance numbers, or guaranteed outcomes.\n\nEmpty / AUTO behavior:\n\nAny empty or missing optional field in the inputs MUST be treated as AUTO and decided by you based on research and logic, never at random.\n\n────────────────────────────────\nINPUT DATA AND PRESETS\n────────────────────────────────\n\nUser Inputs:\n\nProduct URL: {{ $json['Product URL'] }}\n\nProduct Name: {{ $json['Product Name'] }}\n\nProduct Images: [Attached inline; up to 3 images of the same product]\n\nPreset: {{ $json['Preset'] }} (see Preset Definitions; may be empty)\n\nTarget Platform: {{ $json['Target Platform'] }} (may be empty)\n\nDuration: {{ $json.Duration }} (expected: \"10s\", \"15s\", or empty)\n\nRegion: {{ $json['Target Region'] }}\n\nLanguage: {{ $json.Language }} (may be empty)\n\nPreset Definitions (Strategic Angles):\n\nThese presets each implicitly define both narrative style AND production look.\n\nThe Authentic Testimonial (Trust-Builder)\nHandheld, “TikTok made me buy it” vibe.\nFocuses on social proof and lived experience to lower purchase resistance.\n\nThe Problem/Solution (High-CTR)\nAggressive hook and editing.\nOpens on a painful problem and positions the product as the quick fix.\nOptimized for immediate clicks and strong thumb-stop.\n\nThe Aesthetic Showcase (Desire-Creation)\nCinematic, ASMR, texture-focused visuals.\nElevates perceived value and justifies a higher price point.\n\nThe “Day in the Life” Vlog (Lifestyle Integration)\nShows how the product naturally fits into a real daily routine.\nReduces “will I actually use this?” friction.\n\nThe Rapid-Fire Listicle (Education)\n“3 Reasons Why…” structure.\nFast-paced value stacking.\nGood for slightly complex or unfamiliar products.\n\nThe Unboxing Experience (Anticipation)\nFocuses on the dopamine of receiving and unboxing.\nReduces shipping and quality anxiety.\n\nThe “Us vs. Them” Comparison (Differentiation)\nVisual side-by-side vs generic alternative.\nHighlights clear win conditions for this product.\n\nThe Pattern Interrupt (The Wildcard)\nA unique or slightly surreal visual hook.\nDesigned to stop the scroll and cheaply capture attention, then pivot into product relevance.\n\n────────────────────────────────\nSTEP 0 – GROUND IN PRODUCT IMAGES (CRITICAL)\n────────────────────────────────\n\nBefore any research, forecasting, or script writing:\n\nInspect all attached product images carefully.\n\nFrom the images, infer ONLY:\n\nMaterials, color palette, textures, and overall build quality.\n\nApproximate size and form factor.\n\nVisible logos, labels, buttons, openings, ports.\n\nPlausible ways it can be held, worn, or used.\n\nRealistic usage context (for example: bedroom, kitchen, car, outdoor, desk).\n\nDo NOT:\n\nInvent magical or unlikely functionality.\n\nAssume medical, financial, or extreme performance claims that are not visibly obvious or typical for this category.\n\nYou must reuse this visual grounding in:\n\npersona.environment\n\nproduct_profile.creative_visuals\n\nproduct_profile.creative_visuals.viral_hook_concept\n\n\n────────────────────────────────\nSTEP 1 – BUILD selected_config FROM RAW INPUTS\n────────────────────────────────\n\nYou must first build a selected_config object that captures raw user intent and which fields are AUTO (decided by you):\n\npreset_input:\n\nValue of Preset if provided and non-empty; otherwise null.\n\nplatform_input:\n\nValue of Target Platform if provided and non-empty; otherwise null.\n\nduration_input:\n\n\"10s\" or \"15s\" if provided and valid; otherwise null.\n\nregion_input:\n\nAlways the Region from the form. This is required and never null.\n\nlanguage_input:\n\nValue of Language if provided and non-empty; otherwise null.\n\nauto_fields:\n\nA list of field names from [\"preset\", \"platform\", \"duration\", \"language\"] for which the corresponding input is null (empty or missing).\n\nExample: if Preset and Duration were empty, auto_fields = [\"preset\",\"duration\"].\n\nRules:\n\nIf platform_input is not null, you must prioritize that platform in research.\n\nIf preset_input is not null, prefer examples whose format resembles that Preset.\n\nregion_input always guides regional assumptions.\n\nYou will later output selected_config under config.selected_config in the JSON.\n\n────────────────────────────────\nSTEP 2 – MARKET RESEARCH AND BENCHMARKING\n────────────────────────────────\n\nGoal: understand what actually works for this product category and region, and extract grounded numeric ranges where possible.\n\nResearch procedure:\n\nUse the product name, product URL, product images (category inference), and region_input as your base.\n\nPrefer platform_input if provided; otherwise look across TikTok, Instagram Reels, and YouTube Shorts.\n\nFind several highly relevant recent short-form videos that match:\n\nSame or closely related product category.\n\nSame region_input (or global if region-specific results are weak).\n\nSimilar purchase intent context (ecommerce / DTC / dropshipping where possible).\n\nFrom these examples, extract patterns:\n\nOpening hook styles in the first 2 seconds.\n\nCommon narrative formats (testimonial, problem/solution, listicle, aesthetic, unboxing, comparison, pattern interrupt).\n\nProduction style (simple UGC, polished UGC, cinematic, animated).\n\nVisible performance metrics when available:\n\nApproximate view counts.\n\nAny clearly stated or benchmark-referenced performance ranges.\n\nNumeric constraints:\n\nWhen you provide numeric ranges later (for views or conversion uplift), they MUST:\n\nBe supported by at least one of:\n\nVisible metrics from example videos, or\n\nPublished benchmark ranges for that platform and product type, or\n\nBroad, clearly described industry norms for similar ecommerce creatives.\n\nFormat for numeric ranges:\n\nAlways use strings like \"10000-50000\" with no commas or units.\n\nIf you cannot confidently derive a numeric range from any of the above:\n\nYou MUST set the corresponding field to the exact string \"insufficient_data\" in the JSON.\n\nHallucination constraints:\n\nDo NOT invent exact view counts, ROI figures, or growth curves.\n\nDo NOT fabricate creator names, brands, or campaign stories.\n\nAll numeric ranges must be broad and justified in accompanying rationale text, not precise promises.\n\n────────────────────────────────\nSTEP 3 – BUILD recommended_config AND effective_config\n────────────────────────────────\n\nUsing your research and selected_config, you must construct:\n\nrecommended_config (your AUTO choices + rationales)\n\neffective_config (the final configuration used for all creative)\n\nFields:\n\n\"preset\"\n\nselected_config.preset_input (string or null)\n\nrecommended_config.preset (string or null)\n\n\"platform\"\n\nselected_config.platform_input (string or null)\n\nrecommended_config.platform (string or null)\n\n\"duration_seconds\"\n\nselected_config.duration_input: \"10s\" or \"15s\" or null\n\nrecommended_config.duration_seconds: number 10 or 15, or null when set by user\n\n\"language\"\n\nselected_config.language_input (string or null)\n\nrecommended_config.language (string or null)\n\nRules for recommended_config:\n\nIf a field is NOT listed in selected_config.auto_fields:\n\nThis field was set by the user.\n\nDo NOT change it.\n\nIn recommended_config:\n\nSet this field’s value to null.\n\nSet rationales[field] = \"set_by_user\".\n\nIf a field IS in selected_config.auto_fields:\n\nYou must choose a value based on your market research and product logic:\n\npreset:\n\nIf Preset was empty, choose the Preset most likely to drive conversions for this category and region on the best-fit platform.\n\nplatform:\n\nIf Platform was empty, choose the platform with the strongest purchase intent signals (for example, comments like \"where can I buy this?\") for this category and region.\n\nduration_seconds:\n\nIf Duration was empty, choose 10 or 15 seconds based on:\n\nTypical runtime and retention patterns from research, and\n\nHow much time this Preset needs to tell the story.\n\nlanguage:\n\nIf Language was empty, infer the most natural language for the region and the dominant language used in viral content for this category.\n\nIn recommended_config:\n\nSet the value for this field to your chosen value.\n\nSet rationales[field] to a short explanation of why you chose it.\n\nThen build effective_config:\n\neffective_config.region = selected_config.region_input\n\neffective_config.preset:\n\nIf selected_config.preset_input is not null: use selected_config.preset_input.\n\nElse: use recommended_config.preset.\n\neffective_config.platform:\n\nIf selected_config.platform_input is not null: use selected_config.platform_input.\n\nElse: use recommended_config.platform.\n\neffective_config.duration_seconds:\n\nIf selected_config.duration_input is not null:\n\nIf \"10s\" → 10.\n\nIf \"15s\" → 15.\n\nElse: use recommended_config.duration_seconds.\n\neffective_config.language:\n\nIf selected_config.language_input is not null: use selected_config.language_input.\n\nElse: use recommended_config.language.\n\nYou MUST:\n\nOutput selected_config, recommended_config, and effective_config under config in the JSON.\n\nAlways use effective_config (not selected_config, not recommended_config alone) when constructing:\n\npersona and environment tone\n\ncreative_blueprint\n\n\n────────────────────────────────\nSTEP 4 – OUTPUT MAIN JSON OBJECT\n────────────────────────────────\n\nNow output a single JSON object with this structure (no extra commentary around it):\n\n{\n  \"config\": {\n    \"selected_config\": {\n      \"preset_input\": \"... or null\",\n      \"platform_input\": \"... or null\",\n      \"duration_input\": \"... or null\",\n      \"region_input\": \"...\",\n      \"language_input\": \"... or null\",\n      \"auto_fields\": [\"preset\", \"platform\", \"duration\", \"language\"]\n    },\n    \"recommended_config\": {\n      \"preset\": \"... or null\",\n      \"platform\": \"... or null\",\n      \"duration_seconds\": 10,\n      \"language\": \"... or null\",\n      \"rationales\": {\n        \"preset\": \"Short explanation or 'set_by_user'.\",\n        \"platform\": \"Short explanation or 'set_by_user'.\",\n        \"duration_seconds\": \"Short explanation or 'set_by_user'.\",\n        \"language\": \"Short explanation or 'set_by_user'.\"\n      }\n    },\n    \"effective_config\": {\n      \"preset\": \"...\",\n      \"platform\": \"...\",\n      \"duration_seconds\": 10,\n      \"language\": \"...\",\n      \"region\": \"...\"\n    }\n  },\n  \"market_research\": {\n    \"inferred_category\": \"...\",\n    \"summary_of_patterns\": \"Short paragraph summarizing hook styles, formats, energy levels, and production looks that perform well.\",\n    \"competitor_benchmarks\": [\n      {\n        \"format_label\": \"e.g. 'problem/solution UGC'\",\n        \"video_hook_description\": \"Description of the opening 0-1 second visual pattern.\",\n        \"observed_view_range\": \"e.g. '20000-80000' or 'insufficient_data'\",\n        \"comment_themes\": [\n          \"e.g. 'where can I get this?', 'is it worth the price?'\"\n        ],\n        \"why_it_likely_drove_sales\": \"1-2 sentences focused on sales psychology.\"\n      }\n    ]\n  },\n  \"persona\": {\n    \"core_identity\": {\n      \"name\": \"...\",\n      \"age\": 0,\n      \"location\": \"...\",\n      \"occupation\": \"...\"\n    },\n    \"psychographics\": {\n      \"pain_points\": [\n        \"Specific frustration 1\",\n        \"Specific frustration 2\"\n      ],\n      \"buying_trigger_emotion\": \"The main emotion that makes them click 'Buy now'.\",\n      \"objections\": [\n        \"Price\",\n        \"Quality doubt\",\n        \"Will I use it?\",\n        \"...\"\n      ]\n    },\n    \"communication_style\": {\n      \"tone_description\": \"How they naturally talk on camera.\",\n      \"energy_level\": \"e.g. 'calm but confident', 'high-energy and playful'.\",\n      \"platform_fit_notes\": \"Why this persona feels native on the chosen platform.\"\n    },\n    \"environment\": {\n      \"setting_description\": \"Concrete description of where they are filming (matches product use and images).\",\n      \"lighting_mood\": \"e.g. 'soft morning light through a window', 'cozy warm indoor lighting'.\"\n    }\n  },\n  \"product_profile\": {\n    \"core_info\": {\n      \"category\": \"...\",\n      \"intended_use\": \"What it is used for and in what context.\",\n      \"ideal_customer\": \"Demographic and behavioral description.\",\n      \"secondary_customers\": [\n        \"Optional, other likely buyers.\"\n      ]\n    },\n    \"selling_points\": [\n      {\n        \"usp\": \"...\",\n        \"benefit_to_user\": \"...\",\n        \"visual_proof_from_images_or_category\": \"What in the images or typical category supports this.\",\n        \"confidence_0to1\": 0.85\n      }\n    ],\n    \"creative_visuals\": {\n      \"recommended_framing\": [\n        \"e.g. 'top-down on table', 'medium close-up with hands in frame'\"\n      ],\n      \"key_demo_actions\": [\n        \"Concrete actions that visually prove the value.\"\n      ],\n      \"sound_or_texture_cues\": [\n        \"e.g. 'soft click', 'foam sound', 'pouring water'\"\n      ],\n      \"viral_hook_concept\": \"Exact 0-1 second motion pattern designed to stop the scroll, grounded in research and product reality.\"\n    }\n  },\n  \"creative_blueprint\": {\n    \"preset_label\": \"Copy of effective_config.preset.\",\n    \"overall_energy_profile\": {\n      \"overall_energy\": \"e.g. 'calm and cozy', 'steady and confident', 'high-energy and punchy'.\",\n      \"tempo\": \"Short description of pacing (e.g. 'snappy cuts', 'gentle continuous motion').\",\n      \"voice_tone\": \"How the main speaker should sound (e.g. 'soft and reassuring', 'excited and playful').\"\n    },\n    \"hook_strategy\": {\n      \"objective\": \"1-2 sentences describing what the hook must make the viewer feel or realize.\",\n      \"angle\": \"Short phrase for the hook angle (e.g. 'bored-toddler chaos to calm play').\",\n      \"implementation_notes\": \"How to visually implement product_profile.creative_visuals.viral_hook_concept using patterns from market_research.competitor_benchmarks.\"\n    },\n    \"value_strategy\": {\n      \"objective\": \"1-2 sentences on what the middle of the video must prove (in terms of benefits and outcomes).\",\n      \"must_show_selling_points\": [\n        \"Short description of Selling Point 1 that MUST be made obvious on screen.\",\n        \"Short description of Selling Point 2 that MUST be made obvious on screen.\"\n      ],\n      \"persona_benefit_focus\": \"Concrete description of how the benefit should show up in the persona's life (e.g. 'parent clearly gets a calm 5-minute break while child plays independently').\"\n    },\n    \"close_strategy\": {\n      \"objective\": \"1-2 sentences on how the video should wrap up emotionally (relief, pride, satisfaction, upgraded lifestyle).\",\n      \"cta_style\": \"Description of CTA tone based on preset and platform (e.g. 'soft friend-to-friend nudge', 'direct but casual', 'playful challenge').\"\n    },\n    \"visual_must_haves\": [\n      \"List of 3-6 concrete visual moments or patterns that MUST appear somewhere in the shot list.\",\n      \"At least one item must encode the main pain point from persona.psychographics.pain_points.\",\n      \"At least one item must encode the relief/benefit to the persona (not just the product in isolation).\"\n    ],\n    \"spoken_must_haves\": [\n      \"1-3 short phrases or ideas that MUST be expressed in the script, tied to selling_points and pain_points.\",\n      \"At least one line must clearly state the main outcome/benefit in plain language.\",\n      \"At least one line must directly reference the primary pain point or frustration.\"\n    ],\n    \"risk_and_tuning_notes\": \"Short note on what to avoid (e.g. 'too slow and dreamy for this audience', 'too shouty for this region') and what to exaggerate for this preset.\"\n  },\n  \"performance_forecast\": {\n    \"target_audience_segment\": \"Specific description of who this video is meant to reach.\",\n    \"sales_impact_hypothesis\": \"How and why this concept should increase conversions vs a generic video.\",\n    \"projected_performance\": {\n      \"view_volume_range\": \"e.g. '10000-50000' or 'insufficient_data'\",\n      \"view_volume_rationale\": \"Short explanation grounded in research examples or benchmarks.\",\n      \"conversion_impact_uplift_range_percent\": \"e.g. '5-20%' or 'insufficient_data'\",\n      \"conversion_impact_rationale\": \"Context for that range based on category, region, and platform.\",\n      \"virality_context\": \"Short text describing how this creative compares to typical organic performance for this category and platform.\"\n    },\n    \"disclaimer\": \"Clear statement that these are directional, benchmark-based expectations, not guaranteed results.\"\n  },\n  \"strategy\": {\n    \"primary_platform\": \"Platform to prioritize for this creative and why.\",\n    \"posting_recommendation\": \"High-level guidance on whether to start organic, go straight to ads, or do a staged approach (for example, 'post organically for 5-7 days, then test as ads if hook performance is strong').\",\n    \"initial_test_duration_days\": 7,\n    \"initial_spend_range\": \"e.g. '50-200' (in typical platform currency) or 'insufficient_data'\",\n    \"test_and_learn_plan\": \"What to watch during the test (for example, hook hold rate, CTR, cost per add-to-cart) and what actions to take if results are strong vs weak.\",\n    \"cross_posting_ideas\": [\n      \"Optional suggestions for reusing this creative on other platforms or placements.\"\n    ]\n  }\n}\n\nRules:\n\nDo not add fields not described above.\n\nAll numeric ranges must follow the pattern \"min-max\" or the exact string \"insufficient_data\".",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1712,
        -608
      ],
      "id": "7008dff0-1f65-4d3f-bd02-20bc7c03adad",
      "name": "set_strategist_prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-pro:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2160,
        -608
      ],
      "id": "60ae7425-3e18-432e-93d2-3ae4f293763f",
      "name": "generate_strategy",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googlePalmApi": {
          "id": "unB4eloasizYTddN",
          "name": "Google Gemini(PaLM) Api azfoundary account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "9d023c05-1b8c-4ab3-9f52-09579fa77700",
                    "leftValue": "={{ $json.Preset }}",
                    "rightValue": "The Authentic Testimonial (Trust-Builder)",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "21093567-698e-409b-85e7-d425c304a30c",
                    "leftValue": "={{ $json.Preset }}",
                    "rightValue": "The Problem/Solution (High-CTR)",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "acfba9be-31f8-46db-85be-570b6da0c77e",
                    "leftValue": "={{ $json.Preset }}",
                    "rightValue": "The Aesthetic Showcase (Desire-Creation)",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b4daa881-a6a6-4f05-b618-13aeb04c7193",
                    "leftValue": "={{ $json.Preset }}",
                    "rightValue": "The “Day in the Life” Vlog (Lifestyle Integration)",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "094cbee1-4301-4734-bcbb-150613ea084e",
                    "leftValue": "={{ $json.Preset }}",
                    "rightValue": "The Rapid-Fire Listicle (Education)",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "90d1f2f1-14e1-4459-906b-72645e04b3ff",
                    "leftValue": "={{ $json.Preset }}",
                    "rightValue": "The Unboxing Experience (Anticipation)",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b065b127-e272-4471-99b3-e1836d4d6a63",
                    "leftValue": "={{ $json.Preset }}",
                    "rightValue": "The “Us vs. Them” Comparison (Differentiation)",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "fe6fba29-e71b-47c9-a06c-6a63500429bf",
                    "leftValue": "={{ $json.Preset }}",
                    "rightValue": "The Pattern Interrupt (The Wildcard)",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        3056,
        -768
      ],
      "id": "abf485ea-f6a6-469e-bdc6-fc4003dd0faf",
      "name": "Switch"
    },
    {
      "parameters": {
        "jsCode": "// 1. Get the raw Master Prompt string\n// We try multiple sources to be safe\nconst sourceJson = $('set_The Authentic Testimonial (Trust-Builder)_startframe_prompt').first().json;\nconst rawPromptString = sourceJson.text || sourceJson.prompt || sourceJson.promptText || sourceJson.sora_video_prompt;\n\n// 2. Define the 'parts' array\nconst parts = [];\n\n// 3. Add the Text Part\nif (rawPromptString) {\n  parts.push({\n    \"text\": rawPromptString\n  });\n} else {\n  parts.push({\n    \"text\": \"Error: Prompt text not found. Please check 'set_master_prompt' output.\"\n  });\n}\n\n// 4. Get the Images (THE FIX)\n// Instead of looking at the JSON 'filesystem-v2' pointer, we look for the actual Binary attachments on the input items.\n\n// Check if the input items have binary data\nif (items[0].binary) {\n  const binaryKeys = Object.keys(items[0].binary);\n  \n  for (const key of binaryKeys) {\n    const binaryObj = items[0].binary[key];\n    \n    // Safety check: ensure it is actually an image\n    if (binaryObj.mimeType && binaryObj.mimeType.startsWith('image/')) {\n      \n      // CRITICAL STEP: Read the file from disk to memory\n      const buffer = await this.helpers.getBinaryDataBuffer(0, key);\n      \n      parts.push({\n        inline_data: {\n          mime_type: binaryObj.mimeType,\n          data: buffer.toString('base64') // Convert to the Base64 string Gemini needs\n        }\n      });\n    }\n  }\n}\n\n// 5. Fallback (If no binaries found on input)\n// If parts only has text, we log a warning.\nif (parts.length === 1) {\n    console.log(\"WARNING: No binary images found in input. Check if 'set_master_prompt' is stripping binaries.\");\n}\n\n// 6. Return the FULL API BODY structure\nreturn {\n  json: {\n    contents: [\n      {\n        parts: parts\n      }\n    ]\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3504,
        -672
      ],
      "id": "4fe69cbe-4678-43aa-a003-70d7d751e94c",
      "name": "multimodal_prompt_assembler1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2c2bbb98-c6e4-4339-971a-2d6487f6bd29",
              "name": "prompt",
              "value": "=You are a world-class Consumer Psychologist, Market Researcher, and E-commerce Growth Strategist.\n\nYour mission is to:\n\nAnalyze the product and find real-world viral benchmarks for this product category and region.\n\nGenerate a data-informed performance and strategy snapshot that is directional, not fantasy.\n\nAll reasoning must:\n\nStay grounded in the product images, product URL, and visible or generic category knowledge.\n\nAvoid invented product features, fake performance numbers, or guaranteed outcomes.\n\nEmpty / AUTO behavior:\n\nAny empty or missing optional field in the inputs MUST be treated as AUTO and decided by you based on research and logic, never at random.\n\n────────────────────────────────\nINPUT DATA AND PRESETS\n────────────────────────────────\n\nUser Inputs:\n\nProduct URL: {{ $json['Product URL'] }}\n\nProduct Name: {{ $json['Product Name'] }}\n\nProduct Images: [Attached inline; up to 3 images of the same product]\n\nPreset: {{ $json['Preset'] }} (see Preset Definitions; may be empty)\n\nTarget Platform: {{ $json['Target Platform'] }} (may be empty)\n\nDuration: {{ $json.Duration }} (expected: \"10s\", \"15s\", or empty)\n\nRegion: {{ $json['Target Region'] }}\n\nLanguage: {{ $json.Language }} (may be empty)\n\nPreset Definitions (Strategic Angles):\n\nThese presets each implicitly define both narrative style AND production look.\n\nThe Authentic Testimonial (Trust-Builder)\nHandheld, “TikTok made me buy it” vibe.\nFocuses on social proof and lived experience to lower purchase resistance.\n\nThe Problem/Solution (High-CTR)\nAggressive hook and editing.\nOpens on a painful problem and positions the product as the quick fix.\nOptimized for immediate clicks and strong thumb-stop.\n\nThe Aesthetic Showcase (Desire-Creation)\nCinematic, ASMR, texture-focused visuals.\nElevates perceived value and justifies a higher price point.\n\nThe “Day in the Life” Vlog (Lifestyle Integration)\nShows how the product naturally fits into a real daily routine.\nReduces “will I actually use this?” friction.\n\nThe Rapid-Fire Listicle (Education)\n“3 Reasons Why…” structure.\nFast-paced value stacking.\nGood for slightly complex or unfamiliar products.\n\nThe Unboxing Experience (Anticipation)\nFocuses on the dopamine of receiving and unboxing.\nReduces shipping and quality anxiety.\n\nThe “Us vs. Them” Comparison (Differentiation)\nVisual side-by-side vs generic alternative.\nHighlights clear win conditions for this product.\n\nThe Pattern Interrupt (The Wildcard)\nA unique or slightly surreal visual hook.\nDesigned to stop the scroll and cheaply capture attention, then pivot into product relevance.\n\n────────────────────────────────\nSTEP 0 – GROUND IN PRODUCT IMAGES (CRITICAL)\n────────────────────────────────\n\nBefore any research, forecasting, or script writing:\n\nInspect all attached product images carefully.\n\nFrom the images, infer ONLY:\n\nMaterials, color palette, textures, and overall build quality.\n\nApproximate size and form factor.\n\nVisible logos, labels, buttons, openings, ports.\n\nPlausible ways it can be held, worn, or used.\n\nRealistic usage context (for example: bedroom, kitchen, car, outdoor, desk).\n\nDo NOT:\n\nInvent magical or unlikely functionality.\n\nAssume medical, financial, or extreme performance claims that are not visibly obvious or typical for this category.\n\nYou must reuse this visual grounding in:\n\npersona.environment\n\nproduct_profile.creative_visuals\n\nproduct_profile.creative_visuals.viral_hook_concept\n\n\n────────────────────────────────\nSTEP 1 – BUILD selected_config FROM RAW INPUTS\n────────────────────────────────\n\nYou must first build a selected_config object that captures raw user intent and which fields are AUTO (decided by you):\n\npreset_input:\n\nValue of Preset if provided and non-empty; otherwise null.\n\nplatform_input:\n\nValue of Target Platform if provided and non-empty; otherwise null.\n\nduration_input:\n\n\"10s\" or \"15s\" if provided and valid; otherwise null.\n\nregion_input:\n\nAlways the Region from the form. This is required and never null.\n\nlanguage_input:\n\nValue of Language if provided and non-empty; otherwise null.\n\nauto_fields:\n\nA list of field names from [\"preset\", \"platform\", \"duration\", \"language\"] for which the corresponding input is null (empty or missing).\n\nExample: if Preset and Duration were empty, auto_fields = [\"preset\",\"duration\"].\n\nRules:\n\nIf platform_input is not null, you must prioritize that platform in research.\n\nIf preset_input is not null, prefer examples whose format resembles that Preset.\n\nregion_input always guides regional assumptions.\n\nYou will later output selected_config under config.selected_config in the JSON.\n\n────────────────────────────────\nSTEP 2 – MARKET RESEARCH AND BENCHMARKING\n────────────────────────────────\n\nGoal: understand what actually works for this product category and region, and extract grounded numeric ranges where possible.\n\nResearch procedure:\n\nUse the product name, product URL, product images (category inference), and region_input as your base.\n\nPrefer platform_input if provided; otherwise look across TikTok, Instagram Reels, and YouTube Shorts.\n\nFind several highly relevant recent short-form videos that match:\n\nSame or closely related product category.\n\nSame region_input (or global if region-specific results are weak).\n\nSimilar purchase intent context (ecommerce / DTC / dropshipping where possible).\n\nFrom these examples, extract patterns:\n\nOpening hook styles in the first 2 seconds.\n\nCommon narrative formats (testimonial, problem/solution, listicle, aesthetic, unboxing, comparison, pattern interrupt).\n\nProduction style (simple UGC, polished UGC, cinematic, animated).\n\nVisible performance metrics when available:\n\nApproximate view counts.\n\nAny clearly stated or benchmark-referenced performance ranges.\n\nNumeric constraints:\n\nWhen you provide numeric ranges later (for views or conversion uplift), they MUST:\n\nBe supported by at least one of:\n\nVisible metrics from example videos, or\n\nPublished benchmark ranges for that platform and product type, or\n\nBroad, clearly described industry norms for similar ecommerce creatives.\n\nFormat for numeric ranges:\n\nAlways use strings like \"10000-50000\" with no commas or units.\n\nIf you cannot confidently derive a numeric range from any of the above:\n\nYou MUST set the corresponding field to the exact string \"insufficient_data\" in the JSON.\n\nHallucination constraints:\n\nDo NOT invent exact view counts, ROI figures, or growth curves.\n\nDo NOT fabricate creator names, brands, or campaign stories.\n\nAll numeric ranges must be broad and justified in accompanying rationale text, not precise promises.\n\n────────────────────────────────\nSTEP 3 – BUILD recommended_config AND effective_config\n────────────────────────────────\n\nUsing your research and selected_config, you must construct:\n\nrecommended_config (your AUTO choices + rationales)\n\neffective_config (the final configuration used for all creative)\n\nFields:\n\n\"preset\"\n\nselected_config.preset_input (string or null)\n\nrecommended_config.preset (string or null)\n\n\"platform\"\n\nselected_config.platform_input (string or null)\n\nrecommended_config.platform (string or null)\n\n\"duration_seconds\"\n\nselected_config.duration_input: \"10s\" or \"15s\" or null\n\nrecommended_config.duration_seconds: number 10 or 15, or null when set by user\n\n\"language\"\n\nselected_config.language_input (string or null)\n\nrecommended_config.language (string or null)\n\nRules for recommended_config:\n\nIf a field is NOT listed in selected_config.auto_fields:\n\nThis field was set by the user.\n\nDo NOT change it.\n\nIn recommended_config:\n\nSet this field’s value to null.\n\nSet rationales[field] = \"set_by_user\".\n\nIf a field IS in selected_config.auto_fields:\n\nYou must choose a value based on your market research and product logic:\n\npreset:\n\nIf Preset was empty, choose the Preset most likely to drive conversions for this category and region on the best-fit platform.\n\nplatform:\n\nIf Platform was empty, choose the platform with the strongest purchase intent signals (for example, comments like \"where can I buy this?\") for this category and region.\n\nduration_seconds:\n\nIf Duration was empty, choose 10 or 15 seconds based on:\n\nTypical runtime and retention patterns from research, and\n\nHow much time this Preset needs to tell the story.\n\nlanguage:\n\nIf Language was empty, infer the most natural language for the region and the dominant language used in viral content for this category.\n\nIn recommended_config:\n\nSet the value for this field to your chosen value.\n\nSet rationales[field] to a short explanation of why you chose it.\n\nThen build effective_config:\n\neffective_config.region = selected_config.region_input\n\neffective_config.preset:\n\nIf selected_config.preset_input is not null: use selected_config.preset_input.\n\nElse: use recommended_config.preset.\n\neffective_config.platform:\n\nIf selected_config.platform_input is not null: use selected_config.platform_input.\n\nElse: use recommended_config.platform.\n\neffective_config.duration_seconds:\n\nIf selected_config.duration_input is not null:\n\nIf \"10s\" → 10.\n\nIf \"15s\" → 15.\n\nElse: use recommended_config.duration_seconds.\n\neffective_config.language:\n\nIf selected_config.language_input is not null: use selected_config.language_input.\n\nElse: use recommended_config.language.\n\nYou MUST:\n\nOutput selected_config, recommended_config, and effective_config under config in the JSON.\n\nAlways use effective_config (not selected_config, not recommended_config alone) when constructing:\n\npersona and environment tone\n\ncreative_blueprint\n\n\n────────────────────────────────\nSTEP 4 – OUTPUT MAIN JSON OBJECT\n────────────────────────────────\n\nNow output a single JSON object with this structure (no extra commentary around it):\n\n{\n  \"config\": {\n    \"selected_config\": {\n      \"preset_input\": \"... or null\",\n      \"platform_input\": \"... or null\",\n      \"duration_input\": \"... or null\",\n      \"region_input\": \"...\",\n      \"language_input\": \"... or null\",\n      \"auto_fields\": [\"preset\", \"platform\", \"duration\", \"language\"]\n    },\n    \"recommended_config\": {\n      \"preset\": \"... or null\",\n      \"platform\": \"... or null\",\n      \"duration_seconds\": 10,\n      \"language\": \"... or null\",\n      \"rationales\": {\n        \"preset\": \"Short explanation or 'set_by_user'.\",\n        \"platform\": \"Short explanation or 'set_by_user'.\",\n        \"duration_seconds\": \"Short explanation or 'set_by_user'.\",\n        \"language\": \"Short explanation or 'set_by_user'.\"\n      }\n    },\n    \"effective_config\": {\n      \"preset\": \"...\",\n      \"platform\": \"...\",\n      \"duration_seconds\": 10,\n      \"language\": \"...\",\n      \"region\": \"...\"\n    }\n  },\n  \"market_research\": {\n    \"inferred_category\": \"...\",\n    \"summary_of_patterns\": \"Short paragraph summarizing hook styles, formats, energy levels, and production looks that perform well.\",\n    \"competitor_benchmarks\": [\n      {\n        \"format_label\": \"e.g. 'problem/solution UGC'\",\n        \"video_hook_description\": \"Description of the opening 0-1 second visual pattern.\",\n        \"observed_view_range\": \"e.g. '20000-80000' or 'insufficient_data'\",\n        \"comment_themes\": [\n          \"e.g. 'where can I get this?', 'is it worth the price?'\"\n        ],\n        \"why_it_likely_drove_sales\": \"1-2 sentences focused on sales psychology.\"\n      }\n    ]\n  },\n  \"persona\": {\n    \"core_identity\": {\n      \"name\": \"...\",\n      \"age\": 0,\n      \"location\": \"...\",\n      \"occupation\": \"...\"\n    },\n    \"psychographics\": {\n      \"pain_points\": [\n        \"Specific frustration 1\",\n        \"Specific frustration 2\"\n      ],\n      \"buying_trigger_emotion\": \"The main emotion that makes them click 'Buy now'.\",\n      \"objections\": [\n        \"Price\",\n        \"Quality doubt\",\n        \"Will I use it?\",\n        \"...\"\n      ]\n    },\n    \"communication_style\": {\n      \"tone_description\": \"How they naturally talk on camera.\",\n      \"energy_level\": \"e.g. 'calm but confident', 'high-energy and playful'.\",\n      \"platform_fit_notes\": \"Why this persona feels native on the chosen platform.\"\n    },\n    \"environment\": {\n      \"setting_description\": \"Concrete description of where they are filming (matches product use and images).\",\n      \"lighting_mood\": \"e.g. 'soft morning light through a window', 'cozy warm indoor lighting'.\"\n    }\n  },\n  \"product_profile\": {\n    \"core_info\": {\n      \"category\": \"...\",\n      \"intended_use\": \"What it is used for and in what context.\",\n      \"ideal_customer\": \"Demographic and behavioral description.\",\n      \"secondary_customers\": [\n        \"Optional, other likely buyers.\"\n      ]\n    },\n    \"selling_points\": [\n      {\n        \"usp\": \"...\",\n        \"benefit_to_user\": \"...\",\n        \"visual_proof_from_images_or_category\": \"What in the images or typical category supports this.\",\n        \"confidence_0to1\": 0.85\n      }\n    ],\n    \"creative_visuals\": {\n      \"recommended_framing\": [\n        \"e.g. 'top-down on table', 'medium close-up with hands in frame'\"\n      ],\n      \"key_demo_actions\": [\n        \"Concrete actions that visually prove the value.\"\n      ],\n      \"sound_or_texture_cues\": [\n        \"e.g. 'soft click', 'foam sound', 'pouring water'\"\n      ],\n      \"viral_hook_concept\": \"Exact 0-1 second motion pattern designed to stop the scroll, grounded in research and product reality.\"\n    }\n  },\n  \"creative_blueprint\": {\n    \"preset_label\": \"Copy of effective_config.preset.\",\n    \"overall_energy_profile\": {\n      \"overall_energy\": \"e.g. 'calm and cozy', 'steady and confident', 'high-energy and punchy'.\",\n      \"tempo\": \"Short description of pacing (e.g. 'snappy cuts', 'gentle continuous motion').\",\n      \"voice_tone\": \"How the main speaker should sound (e.g. 'soft and reassuring', 'excited and playful').\"\n    },\n    \"hook_strategy\": {\n      \"objective\": \"1-2 sentences describing what the hook must make the viewer feel or realize.\",\n      \"angle\": \"Short phrase for the hook angle (e.g. 'bored-toddler chaos to calm play').\",\n      \"implementation_notes\": \"How to visually implement product_profile.creative_visuals.viral_hook_concept using patterns from market_research.competitor_benchmarks.\"\n    },\n    \"value_strategy\": {\n      \"objective\": \"1-2 sentences on what the middle of the video must prove (in terms of benefits and outcomes).\",\n      \"must_show_selling_points\": [\n        \"Short description of Selling Point 1 that MUST be made obvious on screen.\",\n        \"Short description of Selling Point 2 that MUST be made obvious on screen.\"\n      ],\n      \"persona_benefit_focus\": \"Concrete description of how the benefit should show up in the persona's life (e.g. 'parent clearly gets a calm 5-minute break while child plays independently').\"\n    },\n    \"close_strategy\": {\n      \"objective\": \"1-2 sentences on how the video should wrap up emotionally (relief, pride, satisfaction, upgraded lifestyle).\",\n      \"cta_style\": \"Description of CTA tone based on preset and platform (e.g. 'soft friend-to-friend nudge', 'direct but casual', 'playful challenge').\"\n    },\n    \"visual_must_haves\": [\n      \"List of 3-6 concrete visual moments or patterns that MUST appear somewhere in the shot list.\",\n      \"At least one item must encode the main pain point from persona.psychographics.pain_points.\",\n      \"At least one item must encode the relief/benefit to the persona (not just the product in isolation).\"\n    ],\n    \"spoken_must_haves\": [\n      \"1-3 short phrases or ideas that MUST be expressed in the script, tied to selling_points and pain_points.\",\n      \"At least one line must clearly state the main outcome/benefit in plain language.\",\n      \"At least one line must directly reference the primary pain point or frustration.\"\n    ],\n    \"risk_and_tuning_notes\": \"Short note on what to avoid (e.g. 'too slow and dreamy for this audience', 'too shouty for this region') and what to exaggerate for this preset.\"\n  },\n  \"performance_forecast\": {\n    \"target_audience_segment\": \"Specific description of who this video is meant to reach.\",\n    \"sales_impact_hypothesis\": \"How and why this concept should increase conversions vs a generic video.\",\n    \"projected_performance\": {\n      \"view_volume_range\": \"e.g. '10000-50000' or 'insufficient_data'\",\n      \"view_volume_rationale\": \"Short explanation grounded in research examples or benchmarks.\",\n      \"conversion_impact_uplift_range_percent\": \"e.g. '5-20%' or 'insufficient_data'\",\n      \"conversion_impact_rationale\": \"Context for that range based on category, region, and platform.\",\n      \"virality_context\": \"Short text describing how this creative compares to typical organic performance for this category and platform.\"\n    },\n    \"disclaimer\": \"Clear statement that these are directional, benchmark-based expectations, not guaranteed results.\"\n  },\n  \"strategy\": {\n    \"primary_platform\": \"Platform to prioritize for this creative and why.\",\n    \"posting_recommendation\": \"High-level guidance on whether to start organic, go straight to ads, or do a staged approach (for example, 'post organically for 5-7 days, then test as ads if hook performance is strong').\",\n    \"initial_test_duration_days\": 7,\n    \"initial_spend_range\": \"e.g. '50-200' (in typical platform currency) or 'insufficient_data'\",\n    \"test_and_learn_plan\": \"What to watch during the test (for example, hook hold rate, CTR, cost per add-to-cart) and what actions to take if results are strong vs weak.\",\n    \"cross_posting_ideas\": [\n      \"Optional suggestions for reusing this creative on other platforms or placements.\"\n    ]\n  }\n}\n\nRules:\n\nDo not add fields not described above.\n\nAll numeric ranges must follow the pattern \"min-max\" or the exact string \"insufficient_data\".",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3280,
        -672
      ],
      "id": "79410f8f-e6e1-431a-8c7f-6282ea52c9fb",
      "name": "set_The Authentic Testimonial (Trust-Builder)_startframe_prompt"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2c2bbb98-c6e4-4339-971a-2d6487f6bd29",
              "name": "prompt",
              "value": "=You are a world-class Consumer Psychologist, Market Researcher, and E-commerce Growth Strategist.\n\nYour mission is to:\n\nAnalyze the product and find real-world viral benchmarks for this product category and region.\n\nGenerate a data-informed performance and strategy snapshot that is directional, not fantasy.\n\nAll reasoning must:\n\nStay grounded in the product images, product URL, and visible or generic category knowledge.\n\nAvoid invented product features, fake performance numbers, or guaranteed outcomes.\n\nEmpty / AUTO behavior:\n\nAny empty or missing optional field in the inputs MUST be treated as AUTO and decided by you based on research and logic, never at random.\n\n────────────────────────────────\nINPUT DATA AND PRESETS\n────────────────────────────────\n\nUser Inputs:\n\nProduct URL: {{ $json['Product URL'] }}\n\nProduct Name: {{ $json['Product Name'] }}\n\nProduct Images: [Attached inline; up to 3 images of the same product]\n\nPreset: {{ $json['Preset'] }} (see Preset Definitions; may be empty)\n\nTarget Platform: {{ $json['Target Platform'] }} (may be empty)\n\nDuration: {{ $json.Duration }} (expected: \"10s\", \"15s\", or empty)\n\nRegion: {{ $json['Target Region'] }}\n\nLanguage: {{ $json.Language }} (may be empty)\n\nPreset Definitions (Strategic Angles):\n\nThese presets each implicitly define both narrative style AND production look.\n\nThe Authentic Testimonial (Trust-Builder)\nHandheld, “TikTok made me buy it” vibe.\nFocuses on social proof and lived experience to lower purchase resistance.\n\nThe Problem/Solution (High-CTR)\nAggressive hook and editing.\nOpens on a painful problem and positions the product as the quick fix.\nOptimized for immediate clicks and strong thumb-stop.\n\nThe Aesthetic Showcase (Desire-Creation)\nCinematic, ASMR, texture-focused visuals.\nElevates perceived value and justifies a higher price point.\n\nThe “Day in the Life” Vlog (Lifestyle Integration)\nShows how the product naturally fits into a real daily routine.\nReduces “will I actually use this?” friction.\n\nThe Rapid-Fire Listicle (Education)\n“3 Reasons Why…” structure.\nFast-paced value stacking.\nGood for slightly complex or unfamiliar products.\n\nThe Unboxing Experience (Anticipation)\nFocuses on the dopamine of receiving and unboxing.\nReduces shipping and quality anxiety.\n\nThe “Us vs. Them” Comparison (Differentiation)\nVisual side-by-side vs generic alternative.\nHighlights clear win conditions for this product.\n\nThe Pattern Interrupt (The Wildcard)\nA unique or slightly surreal visual hook.\nDesigned to stop the scroll and cheaply capture attention, then pivot into product relevance.\n\n────────────────────────────────\nSTEP 0 – GROUND IN PRODUCT IMAGES (CRITICAL)\n────────────────────────────────\n\nBefore any research, forecasting, or script writing:\n\nInspect all attached product images carefully.\n\nFrom the images, infer ONLY:\n\nMaterials, color palette, textures, and overall build quality.\n\nApproximate size and form factor.\n\nVisible logos, labels, buttons, openings, ports.\n\nPlausible ways it can be held, worn, or used.\n\nRealistic usage context (for example: bedroom, kitchen, car, outdoor, desk).\n\nDo NOT:\n\nInvent magical or unlikely functionality.\n\nAssume medical, financial, or extreme performance claims that are not visibly obvious or typical for this category.\n\nYou must reuse this visual grounding in:\n\npersona.environment\n\nproduct_profile.creative_visuals\n\nproduct_profile.creative_visuals.viral_hook_concept\n\n\n────────────────────────────────\nSTEP 1 – BUILD selected_config FROM RAW INPUTS\n────────────────────────────────\n\nYou must first build a selected_config object that captures raw user intent and which fields are AUTO (decided by you):\n\npreset_input:\n\nValue of Preset if provided and non-empty; otherwise null.\n\nplatform_input:\n\nValue of Target Platform if provided and non-empty; otherwise null.\n\nduration_input:\n\n\"10s\" or \"15s\" if provided and valid; otherwise null.\n\nregion_input:\n\nAlways the Region from the form. This is required and never null.\n\nlanguage_input:\n\nValue of Language if provided and non-empty; otherwise null.\n\nauto_fields:\n\nA list of field names from [\"preset\", \"platform\", \"duration\", \"language\"] for which the corresponding input is null (empty or missing).\n\nExample: if Preset and Duration were empty, auto_fields = [\"preset\",\"duration\"].\n\nRules:\n\nIf platform_input is not null, you must prioritize that platform in research.\n\nIf preset_input is not null, prefer examples whose format resembles that Preset.\n\nregion_input always guides regional assumptions.\n\nYou will later output selected_config under config.selected_config in the JSON.\n\n────────────────────────────────\nSTEP 2 – MARKET RESEARCH AND BENCHMARKING\n────────────────────────────────\n\nGoal: understand what actually works for this product category and region, and extract grounded numeric ranges where possible.\n\nResearch procedure:\n\nUse the product name, product URL, product images (category inference), and region_input as your base.\n\nPrefer platform_input if provided; otherwise look across TikTok, Instagram Reels, and YouTube Shorts.\n\nFind several highly relevant recent short-form videos that match:\n\nSame or closely related product category.\n\nSame region_input (or global if region-specific results are weak).\n\nSimilar purchase intent context (ecommerce / DTC / dropshipping where possible).\n\nFrom these examples, extract patterns:\n\nOpening hook styles in the first 2 seconds.\n\nCommon narrative formats (testimonial, problem/solution, listicle, aesthetic, unboxing, comparison, pattern interrupt).\n\nProduction style (simple UGC, polished UGC, cinematic, animated).\n\nVisible performance metrics when available:\n\nApproximate view counts.\n\nAny clearly stated or benchmark-referenced performance ranges.\n\nNumeric constraints:\n\nWhen you provide numeric ranges later (for views or conversion uplift), they MUST:\n\nBe supported by at least one of:\n\nVisible metrics from example videos, or\n\nPublished benchmark ranges for that platform and product type, or\n\nBroad, clearly described industry norms for similar ecommerce creatives.\n\nFormat for numeric ranges:\n\nAlways use strings like \"10000-50000\" with no commas or units.\n\nIf you cannot confidently derive a numeric range from any of the above:\n\nYou MUST set the corresponding field to the exact string \"insufficient_data\" in the JSON.\n\nHallucination constraints:\n\nDo NOT invent exact view counts, ROI figures, or growth curves.\n\nDo NOT fabricate creator names, brands, or campaign stories.\n\nAll numeric ranges must be broad and justified in accompanying rationale text, not precise promises.\n\n────────────────────────────────\nSTEP 3 – BUILD recommended_config AND effective_config\n────────────────────────────────\n\nUsing your research and selected_config, you must construct:\n\nrecommended_config (your AUTO choices + rationales)\n\neffective_config (the final configuration used for all creative)\n\nFields:\n\n\"preset\"\n\nselected_config.preset_input (string or null)\n\nrecommended_config.preset (string or null)\n\n\"platform\"\n\nselected_config.platform_input (string or null)\n\nrecommended_config.platform (string or null)\n\n\"duration_seconds\"\n\nselected_config.duration_input: \"10s\" or \"15s\" or null\n\nrecommended_config.duration_seconds: number 10 or 15, or null when set by user\n\n\"language\"\n\nselected_config.language_input (string or null)\n\nrecommended_config.language (string or null)\n\nRules for recommended_config:\n\nIf a field is NOT listed in selected_config.auto_fields:\n\nThis field was set by the user.\n\nDo NOT change it.\n\nIn recommended_config:\n\nSet this field’s value to null.\n\nSet rationales[field] = \"set_by_user\".\n\nIf a field IS in selected_config.auto_fields:\n\nYou must choose a value based on your market research and product logic:\n\npreset:\n\nIf Preset was empty, choose the Preset most likely to drive conversions for this category and region on the best-fit platform.\n\nplatform:\n\nIf Platform was empty, choose the platform with the strongest purchase intent signals (for example, comments like \"where can I buy this?\") for this category and region.\n\nduration_seconds:\n\nIf Duration was empty, choose 10 or 15 seconds based on:\n\nTypical runtime and retention patterns from research, and\n\nHow much time this Preset needs to tell the story.\n\nlanguage:\n\nIf Language was empty, infer the most natural language for the region and the dominant language used in viral content for this category.\n\nIn recommended_config:\n\nSet the value for this field to your chosen value.\n\nSet rationales[field] to a short explanation of why you chose it.\n\nThen build effective_config:\n\neffective_config.region = selected_config.region_input\n\neffective_config.preset:\n\nIf selected_config.preset_input is not null: use selected_config.preset_input.\n\nElse: use recommended_config.preset.\n\neffective_config.platform:\n\nIf selected_config.platform_input is not null: use selected_config.platform_input.\n\nElse: use recommended_config.platform.\n\neffective_config.duration_seconds:\n\nIf selected_config.duration_input is not null:\n\nIf \"10s\" → 10.\n\nIf \"15s\" → 15.\n\nElse: use recommended_config.duration_seconds.\n\neffective_config.language:\n\nIf selected_config.language_input is not null: use selected_config.language_input.\n\nElse: use recommended_config.language.\n\nYou MUST:\n\nOutput selected_config, recommended_config, and effective_config under config in the JSON.\n\nAlways use effective_config (not selected_config, not recommended_config alone) when constructing:\n\npersona and environment tone\n\ncreative_blueprint\n\n\n────────────────────────────────\nSTEP 4 – OUTPUT MAIN JSON OBJECT\n────────────────────────────────\n\nNow output a single JSON object with this structure (no extra commentary around it):\n\n{\n  \"config\": {\n    \"selected_config\": {\n      \"preset_input\": \"... or null\",\n      \"platform_input\": \"... or null\",\n      \"duration_input\": \"... or null\",\n      \"region_input\": \"...\",\n      \"language_input\": \"... or null\",\n      \"auto_fields\": [\"preset\", \"platform\", \"duration\", \"language\"]\n    },\n    \"recommended_config\": {\n      \"preset\": \"... or null\",\n      \"platform\": \"... or null\",\n      \"duration_seconds\": 10,\n      \"language\": \"... or null\",\n      \"rationales\": {\n        \"preset\": \"Short explanation or 'set_by_user'.\",\n        \"platform\": \"Short explanation or 'set_by_user'.\",\n        \"duration_seconds\": \"Short explanation or 'set_by_user'.\",\n        \"language\": \"Short explanation or 'set_by_user'.\"\n      }\n    },\n    \"effective_config\": {\n      \"preset\": \"...\",\n      \"platform\": \"...\",\n      \"duration_seconds\": 10,\n      \"language\": \"...\",\n      \"region\": \"...\"\n    }\n  },\n  \"market_research\": {\n    \"inferred_category\": \"...\",\n    \"summary_of_patterns\": \"Short paragraph summarizing hook styles, formats, energy levels, and production looks that perform well.\",\n    \"competitor_benchmarks\": [\n      {\n        \"format_label\": \"e.g. 'problem/solution UGC'\",\n        \"video_hook_description\": \"Description of the opening 0-1 second visual pattern.\",\n        \"observed_view_range\": \"e.g. '20000-80000' or 'insufficient_data'\",\n        \"comment_themes\": [\n          \"e.g. 'where can I get this?', 'is it worth the price?'\"\n        ],\n        \"why_it_likely_drove_sales\": \"1-2 sentences focused on sales psychology.\"\n      }\n    ]\n  },\n  \"persona\": {\n    \"core_identity\": {\n      \"name\": \"...\",\n      \"age\": 0,\n      \"location\": \"...\",\n      \"occupation\": \"...\"\n    },\n    \"psychographics\": {\n      \"pain_points\": [\n        \"Specific frustration 1\",\n        \"Specific frustration 2\"\n      ],\n      \"buying_trigger_emotion\": \"The main emotion that makes them click 'Buy now'.\",\n      \"objections\": [\n        \"Price\",\n        \"Quality doubt\",\n        \"Will I use it?\",\n        \"...\"\n      ]\n    },\n    \"communication_style\": {\n      \"tone_description\": \"How they naturally talk on camera.\",\n      \"energy_level\": \"e.g. 'calm but confident', 'high-energy and playful'.\",\n      \"platform_fit_notes\": \"Why this persona feels native on the chosen platform.\"\n    },\n    \"environment\": {\n      \"setting_description\": \"Concrete description of where they are filming (matches product use and images).\",\n      \"lighting_mood\": \"e.g. 'soft morning light through a window', 'cozy warm indoor lighting'.\"\n    }\n  },\n  \"product_profile\": {\n    \"core_info\": {\n      \"category\": \"...\",\n      \"intended_use\": \"What it is used for and in what context.\",\n      \"ideal_customer\": \"Demographic and behavioral description.\",\n      \"secondary_customers\": [\n        \"Optional, other likely buyers.\"\n      ]\n    },\n    \"selling_points\": [\n      {\n        \"usp\": \"...\",\n        \"benefit_to_user\": \"...\",\n        \"visual_proof_from_images_or_category\": \"What in the images or typical category supports this.\",\n        \"confidence_0to1\": 0.85\n      }\n    ],\n    \"creative_visuals\": {\n      \"recommended_framing\": [\n        \"e.g. 'top-down on table', 'medium close-up with hands in frame'\"\n      ],\n      \"key_demo_actions\": [\n        \"Concrete actions that visually prove the value.\"\n      ],\n      \"sound_or_texture_cues\": [\n        \"e.g. 'soft click', 'foam sound', 'pouring water'\"\n      ],\n      \"viral_hook_concept\": \"Exact 0-1 second motion pattern designed to stop the scroll, grounded in research and product reality.\"\n    }\n  },\n  \"creative_blueprint\": {\n    \"preset_label\": \"Copy of effective_config.preset.\",\n    \"overall_energy_profile\": {\n      \"overall_energy\": \"e.g. 'calm and cozy', 'steady and confident', 'high-energy and punchy'.\",\n      \"tempo\": \"Short description of pacing (e.g. 'snappy cuts', 'gentle continuous motion').\",\n      \"voice_tone\": \"How the main speaker should sound (e.g. 'soft and reassuring', 'excited and playful').\"\n    },\n    \"hook_strategy\": {\n      \"objective\": \"1-2 sentences describing what the hook must make the viewer feel or realize.\",\n      \"angle\": \"Short phrase for the hook angle (e.g. 'bored-toddler chaos to calm play').\",\n      \"implementation_notes\": \"How to visually implement product_profile.creative_visuals.viral_hook_concept using patterns from market_research.competitor_benchmarks.\"\n    },\n    \"value_strategy\": {\n      \"objective\": \"1-2 sentences on what the middle of the video must prove (in terms of benefits and outcomes).\",\n      \"must_show_selling_points\": [\n        \"Short description of Selling Point 1 that MUST be made obvious on screen.\",\n        \"Short description of Selling Point 2 that MUST be made obvious on screen.\"\n      ],\n      \"persona_benefit_focus\": \"Concrete description of how the benefit should show up in the persona's life (e.g. 'parent clearly gets a calm 5-minute break while child plays independently').\"\n    },\n    \"close_strategy\": {\n      \"objective\": \"1-2 sentences on how the video should wrap up emotionally (relief, pride, satisfaction, upgraded lifestyle).\",\n      \"cta_style\": \"Description of CTA tone based on preset and platform (e.g. 'soft friend-to-friend nudge', 'direct but casual', 'playful challenge').\"\n    },\n    \"visual_must_haves\": [\n      \"List of 3-6 concrete visual moments or patterns that MUST appear somewhere in the shot list.\",\n      \"At least one item must encode the main pain point from persona.psychographics.pain_points.\",\n      \"At least one item must encode the relief/benefit to the persona (not just the product in isolation).\"\n    ],\n    \"spoken_must_haves\": [\n      \"1-3 short phrases or ideas that MUST be expressed in the script, tied to selling_points and pain_points.\",\n      \"At least one line must clearly state the main outcome/benefit in plain language.\",\n      \"At least one line must directly reference the primary pain point or frustration.\"\n    ],\n    \"risk_and_tuning_notes\": \"Short note on what to avoid (e.g. 'too slow and dreamy for this audience', 'too shouty for this region') and what to exaggerate for this preset.\"\n  },\n  \"performance_forecast\": {\n    \"target_audience_segment\": \"Specific description of who this video is meant to reach.\",\n    \"sales_impact_hypothesis\": \"How and why this concept should increase conversions vs a generic video.\",\n    \"projected_performance\": {\n      \"view_volume_range\": \"e.g. '10000-50000' or 'insufficient_data'\",\n      \"view_volume_rationale\": \"Short explanation grounded in research examples or benchmarks.\",\n      \"conversion_impact_uplift_range_percent\": \"e.g. '5-20%' or 'insufficient_data'\",\n      \"conversion_impact_rationale\": \"Context for that range based on category, region, and platform.\",\n      \"virality_context\": \"Short text describing how this creative compares to typical organic performance for this category and platform.\"\n    },\n    \"disclaimer\": \"Clear statement that these are directional, benchmark-based expectations, not guaranteed results.\"\n  },\n  \"strategy\": {\n    \"primary_platform\": \"Platform to prioritize for this creative and why.\",\n    \"posting_recommendation\": \"High-level guidance on whether to start organic, go straight to ads, or do a staged approach (for example, 'post organically for 5-7 days, then test as ads if hook performance is strong').\",\n    \"initial_test_duration_days\": 7,\n    \"initial_spend_range\": \"e.g. '50-200' (in typical platform currency) or 'insufficient_data'\",\n    \"test_and_learn_plan\": \"What to watch during the test (for example, hook hold rate, CTR, cost per add-to-cart) and what actions to take if results are strong vs weak.\",\n    \"cross_posting_ideas\": [\n      \"Optional suggestions for reusing this creative on other platforms or placements.\"\n    ]\n  }\n}\n\nRules:\n\nDo not add fields not described above.\n\nAll numeric ranges must follow the pattern \"min-max\" or the exact string \"insufficient_data\".",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4848,
        -672
      ],
      "id": "813a76f6-abf0-4fe2-9d93-9fe01d79093b",
      "name": "set_The Authentic Testimonial (Trust-Builder)_ad_prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-pro:generateContent",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googlePalmApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3728,
        -672
      ],
      "id": "66ab0566-2a20-4402-a4de-c633d9ed1d15",
      "name": "generate_Start Frame prompt",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googlePalmApi": {
          "id": "unB4eloasizYTddN",
          "name": "Google Gemini(PaLM) Api azfoundary account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  (() => {\n    // 1. Get the image list from the \"Aggregate\" node (which has the Cloudinary URLs)\n    // MAKE SURE this node name matches exactly what is on your canvas\n    const imageList = $('aggregate_images_urls_and_format_inputs').first().json.images || [];\n\n    // 2. Map them to just the Public URLs\n    // We filter(Boolean) to remove any empty entries just in case\n    const imageUrls = imageList.map(img => img.public_url).filter(Boolean);\n\n    // 3. Return the JSON string\n    return JSON.stringify({\n      \"model\": \"nano-banana-pro\",\n      \"callBackUrl\": $execution.resumeUrl,\n      \"input\": {\n        // Pull the prompt from the Parser node\n        \"prompt\": $('Parser').item.json.start_frame_image_prompt,\n        \n        \"aspect_ratio\": \"9:16\",\n        \"resolution\": \"1K\",\n        \"output_format\": \"png\",\n        \n        // 4. Send the array of URLs (e.g. [\"https://res.cloudinary...\", ...])\n        \"image_input\": imageUrls \n      }\n    });\n  })()\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5072,
        -672
      ],
      "id": "35794791-9d91-41cb-a7e8-376372a7df24",
      "name": "generate_vidgen_prompt",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "JOMTRw8Hk22l5E88",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "86ef9608-af3e-4933-8737-aec3263e9edc",
              "name": "=Preset",
              "value": "={{ $json.config.effective_config.preset }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2608,
        -608
      ],
      "id": "9ffbdf6f-d8e5-4393-9fc2-52b4a368d6e6",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "// This node acts as a \"Collector.\" \n// It passes through whichever branch actually contains the data.\nconst allInputs = $input.all();\n\n// Filter for the item that has a valid Preset value.\n// We ignore the \"Empty\" branch that didn't run.\nconst validOutput = allInputs.filter(item => {\n  const p = item.json.Preset;\n  return p !== undefined && p !== null && p !== \"\" && p !== \"null\";\n});\n\n// Return the valid data so the Switch node only sees the \"Full\" item.\nreturn validOutput.length > 0 ? validOutput : [];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2832,
        -672
      ],
      "id": "5358699f-719e-4907-97b6-ccaab7c387bb",
      "name": "preset_collector"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "2c8a125c-f323-4c04-bda5-5269276c706d",
              "leftValue": "={{ $json.Preset }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1488,
        -672
      ],
      "id": "4f818196-bbcc-47c2-8629-3b4e592147a6",
      "name": "preset_set?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2259937a-4602-4cfa-9bbf-ffa3e2df3008",
              "leftValue": "={{ $json.start_frame_image_prompt.length }}",
              "rightValue": 5000,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3952,
        -672
      ],
      "id": "0d6ebf71-231c-42fc-ac91-467d92f5a5ca",
      "name": "img_prompt_length?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "72e2545f-3548-49d6-a3c2-1eb1af84c932",
              "leftValue": "={{ $json.vidgen_prompt.length }}",
              "rightValue": 5000,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5296,
        -672
      ],
      "id": "881e1241-79bb-42d7-89c7-32f0482138ad",
      "name": "vid_prompt_length?"
    }
  ],
  "connections": {
    "form_trigger": {
      "main": [
        [
          {
            "node": "split_product_images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parser": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload start frame": {
      "main": [
        [
          {
            "node": "set_The Authentic Testimonial (Trust-Builder)_ad_prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "generate_start_frame": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "upload_product_images": {
      "main": [
        [
          {
            "node": "aggregate_images_urls_and_format_inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "split_product_images": {
      "main": [
        [
          {
            "node": "upload_product_images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "multimodal_prompt_assembler": {
      "main": [
        [
          {
            "node": "generate_strategy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "aggregate_images_urls_and_format_inputs": {
      "main": [
        [
          {
            "node": "preset_set?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Upload start frame",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set_strategist_prompt": {
      "main": [
        [
          {
            "node": "multimodal_prompt_assembler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "generate_strategy": {
      "main": [
        [
          {
            "node": "Parser",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "set_The Authentic Testimonial (Trust-Builder)_startframe_prompt",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [],
        [],
        [],
        [],
        [],
        []
      ]
    },
    "multimodal_prompt_assembler1": {
      "main": [
        [
          {
            "node": "generate_Start Frame prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set_The Authentic Testimonial (Trust-Builder)_startframe_prompt": {
      "main": [
        [
          {
            "node": "multimodal_prompt_assembler1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set_The Authentic Testimonial (Trust-Builder)_ad_prompt": {
      "main": [
        [
          {
            "node": "generate_vidgen_prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "generate_Start Frame prompt": {
      "main": [
        [
          {
            "node": "img_prompt_length?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "generate_vidgen_prompt": {
      "main": [
        [
          {
            "node": "vid_prompt_length?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "preset_collector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "preset_collector": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "preset_set?": {
      "main": [
        [
          {
            "node": "preset_collector",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "set_strategist_prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "img_prompt_length?": {
      "main": [
        [
          {
            "node": "generate_start_frame",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "vid_prompt_length?": {
      "main": [
        [
          {
            "node": "Create Sora Ad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "ffa2ba3a-61f4-4ac0-b133-dac9d288847f",
  "activeVersionId": null,
  "versionCounter": 84,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-02T22:51:47.968Z",
      "createdAt": "2025-12-02T22:51:47.968Z",
      "role": "workflow:owner",
      "workflowId": "kSNTYY38bb81g5Z8",
      "projectId": "YLY2TqeyFKXcwi0t",
      "project": {
        "updatedAt": "2025-11-19T07:47:46.163Z",
        "createdAt": "2025-11-19T07:46:29.581Z",
        "id": "YLY2TqeyFKXcwi0t",
        "name": "Osama Zafar <osama.zafariqbal@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "758d783a-d693-411e-9f06-0f7eeacf7bcc",
        "projectRelations": [
          {
            "updatedAt": "2025-11-19T07:46:29.582Z",
            "createdAt": "2025-11-19T07:46:29.582Z",
            "userId": "758d783a-d693-411e-9f06-0f7eeacf7bcc",
            "projectId": "YLY2TqeyFKXcwi0t",
            "user": {
              "updatedAt": "2026-02-01T08:08:41.000Z",
              "createdAt": "2025-11-19T07:46:28.806Z",
              "id": "758d783a-d693-411e-9f06-0f7eeacf7bcc",
              "email": "osama.zafariqbal@gmail.com",
              "firstName": "Osama",
              "lastName": "Zafar",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-11-19T07:47:57.873Z",
                "personalization_survey_n8n_version": "1.120.3",
                "companySize": "<20",
                "companyType": "saas",
                "role": "business-owner",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "U6yF7UZB9YYkynAG",
                "userActivatedAt": 1767807452186,
                "npsSurvey": {
                  "waitingForResponse": true,
                  "ignoredCount": 1,
                  "lastShownAt": 1768925639912
                }
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-01",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}
